.container{
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    height:auto;
    width: 30em;
    background: #fff;
    padding-bottom: 1.875em;
    border-radius: 1em;
    box-shadow: 0px 0px 6px 2px white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.563em;
    width: auto;
    margin-top: 1.875em;
}

.welcome{
    margin-top: 0.5em;
    font-weight: 300;
}

.text{
    color: #3c009d;
    font-size: 3em;
    font-weight: 700;
}

.underline{
    width: 3.813em;
    height: 0.375em;
    background: #3c009d;
    border-radius: 0.563em;
}

.inputs{
    margin-top: 1.438em;
    display: flex;
    flex-direction: column;
    gap: 2.563em;
}

.input{
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0em;
    width: 20em;
    height: 3em;
    background: #eaeaea;
    border-radius: 1em;
}

.input img{
    margin: 0em 1.875em;
}

.input input{
    height: 3.125em;
    width: 25em;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1.188em;
}

.form-check{
    display: flex;
    margin-top: 1em;
}

.form-check-input{
    margin-right: 0.5em;
    background-color: hsl(300, 33%, 99%);
    border-color: #7d00fa;
}

.form-check-input:checked {
    margin-right: 0.5em;
    background-color: #4c00b4;
    border-color: #4c00b4;
}

.forgot-password{
    margin-top: 0.25em;
    color: #797979;
    font-size: 1em;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 1.875em;
    margin: 1.75em auto;
    text-decoration: none;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5em;
    height: 2.688em;
    color: #fff;
    background: #4c00b4;
    border-radius: 1em;
    font-size: 1.188em;
    font-weight: 700;
    cursor: pointer;
}

.submit-gray{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5em;
    height: 2.688em;
    color: #d3cfcf;
    background: #906dc0;
    border-radius: 1em;
    font-size: 1.188em;
    font-weight: 700;
    cursor: pointer;
}