/* .container-fluid{
    display: flex;
    float: right;
} */

.card{
    float: right;
    margin-top: 5%;
    margin-right:5%;
    width: max-content;
    height: max-content;
}
#update_btn{
    margin: auto;
    display: grid;
}